.footer {
    background-color: aliceblue;
    padding: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 11vh;
  }

  .footer a {
    padding: 0 1.7rem 0 1rem;
  }
