.result {
    background-color: rgb(7, 129, 236);
    width: 40rem;
    height: 10rem;
    margin: 1rem auto;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 20px ;
    gap: 6rem;
    
  }